# Mall Costumer Segmentation

## Imports

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

## Read data

In [2]:
path = "../Data/Mall_Customers.csv"
data = pd.read_csv(path)

In [3]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

1. CustomerID:
    Unique ID assigned to the customer
2. Gender:
    Gender of the customer
3. Age:
    Age of the customer
4. Annual Income (k$):
    Annual Income of the customee
5. Spending Score (1-100):
    Score assigned by the mall based on customer behavior and spending nature

## Print data describe

## Check nan's count

## Plot distplots for numeric features

## Plot countplots for categorical features

## Plot pairplots, do you notice any separable clusters?

## Plot noticed clusters, with hue categorical variables

## Fit K-means clustering with noticed variables. Choose best number off clusters with elbow method.

## Plot results(clusters) with means